<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="MailPlus_MailPlus::healthcheck" title="Spotler health check" sortOrder="51">
                </resource>
            </resource>
        </resources>
    </acl>
</config>
