<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="MailPlus_MailPlus::menu" title="MailPlus connector" module="MailPlus_MailPlus" sortOrder="50"
			parent="Magento_Backend::system" resource="MailPlus_MailPlus::menu" />
		<add id="MailPlus_MailPlus::settings" title="Settings" module="MailPlus_MailPlus" sortOrder="0"
			parent="MailPlus_MailPlus::menu" action="mailplus/settings" resource="MailPlus_MailPlus::settings" />
	</menu>
</config>